@model IEnumerable<WebIssueManagementApp.Models.Issue>

@{
    ViewData["Title"] = "Issues";
}

<div class="row mb-3">
    <h2>Issue -> View</h2>
</div>

<div class="row mb-3 justify-content-center">

    <div class="col-sm-4 mb-3 w-auto">
        <a asp-action="Create" class="btn btn-primary">New Issue</a>
    </div>

    <div class="col-sm-8">
        <form asp-action="Index" class="form-group form-group-sm">
            <div class="input-group">
                <input type="text" name="txtFind" class="form-control" placeholder="Find code issue or text">
                <div class="input-group-append ">
                    <button class="btn btn-outline-secondary" type="submit">Find</button>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="row justify-content-center">
    @foreach (var item in Model)
    {
        <div class="card border-primary mb-3 text-center cardSpace">
            <div class="card-header">@Html.DisplayFor(modelItem => item.UrlIssue)</div>
            <div class="card-body text-secondary">
                <p class="card-text"> @Html.DisplayFor(modelItem => item.Abstract)</p>
                <p class="card-text"> @Html.DisplayFor(modelItem => item.DateBegin) - @Html.DisplayFor(modelItem => item.DateEnd)</p>
            </div>
            <div class="card-footer text-primary text-center">
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                <a asp-action="Attachment" asp-route-id="@item.Id">Attach</a>
            </div>
        </div>
    }
</div>




